<:Title>
  Volt • TodoMVC

<:Body>
  <section id='todoapp'>
    <header id='header'>
      <h1>todos</h1>
      <form e-submit="add_todo">
        <input autofocus id='new-todo' placeholder='What needs to be done?' value="{_new_todo}">
      </form>
    </header>
    <section id='main'>
      <input id='toggle-all' type='checkbox' e-change="check_all" checked="{_all_checked}"/>
      <label for='toggle-all'>Mark all as complete</label>
      <ul id='todo-list'>
        {#each _todos as todo}
          <li class="{#if todo._completed}completed{/}">
            <div class="view">
              <input class="toggle" type="checkbox" e-change="update_check_all" checked="{todo._completed}"/>
              <label>{todo._title}</label>
              <button class="destroy" e-click="remove_todo(index)"/>
            </div>
            <input class="edit" value="{todo._title}"/>
          </li>
        {/}
      </ul>

    </section>
    <footer id='footer'>
      <span id='todo-count'>
        <strong>{_active_count}</strong>
        item{#if _active_count.cur != 1}s{/}
        left
      </span>

      <ul id='filters'>
        <li>
          <a href='#/'>All</a>
        </li>
        <li>
          <a href='#/active'>Active</a>
        </li>
        <li>
          <a href='#/completed'>Completed</a>
        </li>
      </ul>

      {#if _show_completed?}
        <button id='clear-completed' e-click="clear_completed">
          Clear completed ({_completed_count})
        </button>
      {/}

    </footer>
  </section>
  <footer id='info'>
    <p>Double-click to edit a todo</p>
    <p>
      Created by
      <a href='https://github.com/elia'>Elia Schito</a>
      with
      <a href='http://voltframework.com'>Volt</a> and <a href="http://opalrb.org">Opal</a>
    </p>
    <p>
      Part of
      <a href='http://todomvc.com'>TodoMVC</a>
    </p>
  </footer>


<!--   <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <:nav href="/" text="Home" />
        <:nav href="/about" text="About" />
      </ul>
      <h3 class="text-muted">Project name</h3>
    </div>

    <:volt:notices />

    {#template main_path, 'body', {controller_group: 'main'}}

    <div class="footer">
      <p>&copy; Company 2014</p>
    </div>

  </div>

<:Nav>
  <li class="{#if url.path.split('/')[1] == @href.split('/')[1]}active{/}">
    <a href="{@href}">{@text}</a>
  </li>
      </!-- <:volt:notices /> --/>
      </!-- {//#template main_path, 'body', {controller_group: 'main'}} --/>
 -->
