<:Title>
  Volt • TodoMVC

<:Body>
  <section id='todoapp' e-click="cancel_edit">
    <header id='header'>
      <h1>todos</h1>
      <form e-submit="add_todo" autocomplete="off">
        <input autofocus id='new-todo' placeholder='What needs to be done?' value="{_new_todo}">
      </form>
    </header>
    <section id='main'>
      <input id='toggle-all' type='checkbox' e-change="check_all" checked="{_all_checked}"/>
      <label for='toggle-all'>Mark all as complete</label>
      <ul id='todo-list'>
        {#each _todos as todo}
          {#if todo.visible_for?(page._current_filter)}
            <li class="{#if todo._completed}completed{/} {#if editing?(todo)}editing{/}">
              <div class="view" e-dblclick="edit(todo)">
                <input class="toggle" type="checkbox" e-change="update_check_all" checked="{todo._completed}"/>
                <label>{todo._title}</label>
                <button class="destroy" e-click="remove_todo(todo)"/>
              </div>
              <form e-submit="save_edit(todo)">
                <input class="edit" value="{page._new_title}"/>
              </form>
            </li>
          {/}
        {/}
      </ul>

    </section>
    <footer id='footer'>
      <span id='todo-count'>
        <strong>{_active_count}</strong>
        item{#if _active_count != 1}s{/}
        left
      </span>

      <ul id='filters'>
        <:nav delegate="{self}" href="" text="All">
        <:nav delegate="{self}" href="active" text="Active">
        <:nav delegate="{self}" href="completed" text="Completed">
      </ul>

      {#if _completed_count > 0}
        <button id='clear-completed' e-click="clear_completed">
          Clear completed ({_completed_count})
        </button>
      {/}

    </footer>
  </section>
  <footer id='info'>
    <p>Double-click to edit a todo</p>
    <p>
      Created by
      <a href='https://github.com/elia'>Elia Schito</a>
      with
      <a href='http://voltframework.com'>Volt</a> and <a href="http://opalrb.org">Opal</a>
    </p>
    <p>
      Part of
      <a href='http://todomvc.com'>TodoMVC</a>
    </p>
  </footer>


<:Nav>
  <li>
    <a e-click="@delegate.update_filter(@href)" class="{#if url.fragment == @href}selected{/}">
      {@text}
    </a>
  </li>


<!--   <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <:nav href="/" text="Home" />
        <:nav href="/about" text="About" />
      </ul>
      <h3 class="text-muted">Project name</h3>
    </div>

    <:volt:notices />

    {#template main_path, 'body', {controller_group: 'main'}}

    <div class="footer">
      <p>&copy; Company 2014</p>
    </div>

  </div>

<:Nav>
  <li class="{#if url.path.split('/')[1] == @href.split('/')[1]}active{/}">
    <a href="{@href}">{@text}</a>
  </li>
      </!-- <:volt:notices /> --/>
      </!-- {//#template main_path, 'body', {controller_group: 'main'}} --/>
 -->
